.div-style{
    background-color: rgba(44, 192, 44, 0.521);
    font-size: 26px;
    color: rgb(61, 50, 50);
    margin: 3px;
    padding: 0.5rem;
}

.fontadjust{
    font-size: large;
    font-weight: bold;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
  }